//This is where you would write your CSS/SASS.  It is connected and the rules are in place in your webpack.config.js file.
body {
  animation: theme 21s linear infinite;
  
  &:after,
  &:before {
      content: '';
      display: block;
      position: fixed;
      z-index: -1;
      top: 0;
      width: 100vw;  // IE/Edge
      height: 100vh; // fallback
      width: 100vmax;
      height: 100vmax;
      background: rgba(0,0,0,0.05);
      animation: background 90s linear infinite;
  }

  &:after {
      left: 15vw;
  }

  &:before {
      right: 15vw;
      animation-delay: -30s;
      animation-direction: reverse;
  }
}

@keyframes theme {
  0% {
      background: #74C390;
  }
  
  16% {
      background: #5DBDB6;
  }
  
  33% {
      background: #59D4E1;
  }
  
  50% {
      background: #51BCE8;
  }
  
  66% {
      background: #FA5374;
  }    
  
  83% {
      background: #E46653;
  }

  100% {
      background: #74C390;
  }
}

@keyframes background {
  0% {
      transform: rotate(0deg);
  }
  
  100% {
      transform: rotate(360deg);
  }
}


// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     scroll-behavior: smooth;
//     font-family: Roboto, sans-serif;
//   }
  
//   body {
//     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Roboto,
//       Arial, sans-serif;
//     background-color: whitesmoke;
//   }
  
//   h1 {
//     display: flex;
//     font-size: 50px;
//     color: red;
//     justify-content: center;
//   }

//   canvas {
//     background-color: navy;
//   }
// html {
//   background-color: white;
// }
.bouncy{
  animation: bouncy 5s infinite linear;
  position: relative;
  }
@keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
}
h1 {
  font-family: 'Bangers', cursive;
}
h2 {
  font-family: 'Bangers', cursive;
}

  .grid {
    width: 300px;
    height: 300px;
    border: solid black 1px;
    // margin: 200px;
    // padding: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .grid div {
    width: 20px;
    height: 20px;
  }
  
  .invader {
    //background-color: purple;
    //border-radius: 10px;
    //background-image: url('./assets/trexhead.jpeg');
    background-image: url('https://mario.wiki.gallery/images/2/2c/Rex_SMW_sprite.png');
  }
  
  .shooter {
    background-color: green;
  
  }
  
  .laser {
    background-color: orange;
  }
  
  .boom {
    background-color: red;
  }

  
